/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

// Grab the breakpoint variables from the base styles package.
@import 'node_modules/@wordpress/base-styles/breakpoints';

// this selector is required for the CSS parser to pick up these styles as being
// required for inclusion in the Site Editor iframe. This is due to the Media
// Queries confusing the regex which looks for `wp-block-*` or `body`.
.editor-styles-wrapper {
	color: inherit;
}

.wp-block-navigation:not(.is-selected):not(.has-child-selected) {

	&.hide-on-desktop {
		@media screen and (min-width: $break-large) { // >= 960px
			display: none !important;
		}
	}

	&.hide-on-tablet {
		@media screen and (min-width: $break-medium) and (max-width: $break-large) { // 782px - 960px
			display: none !important;
		}
	}

	&.hide-on-mobile {
		@media screen and (max-width: $break-medium) { // <= 782px;
			display: none !important;
		}
	}
}

